/* Footer.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.custom-card {
  background-color: #e9f3fb;
  border-radius: 16px;
  transition: all 0.3s ease;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.custom-card:hover {
  transform: scale(1.01);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
